<link rel="stylesheet" href="static/plugins1/bootstrap/css/bootstraps.min.css">

<link rel="stylesheet" href="static/css1/style.css"/>

{% include 'header.html' %}


<!-- Header Close --> 




<!-- Section About End -->
 

<!--  Section Services End -->
<!-- Section Testimonial Start -->
<section class="section testimonial bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2 class="mt-3 content-title">About Us</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="testimonial-wrap">
			<div class="testimonial-item position-relative">
					<i class="ti-control-forward mr-3 text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Scopiq Document Management System [DMS] is a extremely important document management software. It is easy to create customizable electronic forms with no needed for IT and also anywhere,anytime and any form of Scopiq eclipse forms.</p>

					
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-control-forward mr-3 text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Scopiq Document Management System (DMS) software to help you collect, store, retrieve, process and archive digital images. Its robust architecture benefit to effectively manage both digital &amp; physical				record life-cycle thus reduces complexity and increase performance.</p>

					
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-control-forward mr-3 text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Scopiq DMS is easy to use web-based document management system that helps organizations digitally manage their documents over the cloud and access them from any device.</p>

					
				</div>
			</div>

		</div>
	</div>
</section>
<!-- Section Testimonial End -->

<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		
		
		{% include 'footer.html' %}
<style>.testimonial-item {
		padding: 15px 30px;
  }
  
  .testimonial-item i {
    font-size: 40px;
    position: absolute;
    left: 30px;
    top: 12px;
    z-index: 1;
}

.section {
    padding: 18px 0;
}

</style>
  </body>
  </html>