<link rel="stylesheet" href="static/plugins1/bootstrap/css/bootstraps.min.css">
<link rel="stylesheet" href="static/css1/style.css">

{% include 'header.html' %}

<!-- Header Close -->


<style>

.field-icon {
  float: left;
  margin-left: 226px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}


.form-control:placeholder-shown:not(:focus) + * {
    opacity: 1;
    transform: translateY(30px);
    margin-left: 10px;
}


.field {
  display: flex;
  flex-flow: column-reverse;
}

label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}



input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}



input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

</style>

    <!-- Section Cta Start -->
    <section class="section cta">
        <form class="form-register" id="form_register" action="#" method="post">

            <div class="container">

                <div class="row">
                    <div class="col-lg-7">
                        <div class="cta-item  bg-white p-5 rounded">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category,message in messages %}
                                            <div class="{{category}}">

                                                {{message}}

                                            </div>

                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <h3 style="text-align:center">Change Password</h3><br>

                            <div class="row">


                                

                                <div class="col-lg-6 ml-auto col-sm-6">
                                    <div class="form-group">

                                    <div class="field">
                                        

                                        <input type="password" class="form-control" id="old_password" name="old_password" maxlength="64" placeholder="&nbsp;" value="">
                                         <label for="old_password">Current Password</label>
                                       

                                      </div>

                                      

                                      <span toggle="#old_password" style="display:none" id="eyepass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                       <span id="pwd" style="color:red;font-size: 13px;"></span>
                                    </div>
                                </div>



 <div class="col-lg-6 ml-auto col-sm-6">
                                    <div class="form-group">

                                    <div class="field">
                                        

                                         <input type="password" name="new_password" id="new_password" class="form-control" placeholder="&nbsp;" >
                                         <label for="new_password">New Password</label>
                                      

                                      </div>

                                      

                                      <span toggle="#new_password" style="display:none" id="eyepass1" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                      <span id="new_pwd" style="color:red;font-size: 13px;"></span>
                                    </div>
                                      
                                </div>




                                <div class="col-lg-6  col-sm-6">
                                    <div class="form-group">

                                    <div class="field">
                                        

                                        <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="&nbsp;" >
                                         <label for="confirm_password">Confirm Password</label>

                                      </div>
                                      <span toggle="#confirm_password" style="display:none" id="eyepass2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                      <span id="conf_pwd" style="color:red;font-size: 13px;"></span>
                                    </div>
                                </div>



                               
                               
    
                                

                            </div>


                            <br>

                           

                            <button class="btn btn-main" disabled name="submit" id="submit">Submit</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;

                            <br><br>
                          
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</body>
<!--  Section Cta End-->



<!-- footer Start -->
<div class="container">


    {% include 'footer.html' %}
</div>

</div>

<!-- 
    Essential Scripts
    =====================================-->




<script>
   

    $(document).ready(function() {

        $("#old_password").bind("keyup change", function(e) {
          
        var old_password=$(this).val();
            
       if(old_password != ''){
            
            var url = '/ajax_load_password';
            $.ajax({
            type:"GET",
            url:url,
            data:{
                'old_password':old_password
            },
            success: function (data) {
                if(data == 0)
                {
                $("#pwd").html("Enter Correct Password");
                
                //$("#new_password").attr("readonly", true); 
                //$("#confirm_password").attr("readonly", true); 
                //$("#submit").attr("disabled", "disabled");
                }
                else
                {
                    $("#pwd").html(" ")
                    $("#new_password").attr("readonly", false); 
                    $("#confirm_password").attr("readonly", false); 
                    $("#submit").removeAttr("disabled");
                }
            
            }
        });
        }
        else{
            $("#pwd").html(" ")
        }
       
  });


  $("#new_password").bind("keyup change", function(e) {
          
          var new_password=$(this).val();
          var old_password = $("#old_password").val();
          if(old_password != ''){
            if(new_password != old_password){
                $("#new_pwd").html(" ")
                $("#submit").removeAttr("disabled");
                
            }
            else{
                $("#new_pwd").html("New Password and Current Password should not be same");
                $("#submit").attr("disabled", "disabled");
            }
          }
          else{
            $("#new_pwd").html(" ")
        }
    });


    $("#confirm_password").bind("keyup change", function(e) {
          
          var new_password=$(this).val();
          var new_password = $("#new_password").val();
          var conf_password=$(this).val();
         
            if(new_password != conf_password){
                $("#conf_pwd").html("New Password and Confirm Password should be same ")
                 $("#submit").attr("disabled", "disabled");
               
                
            }
            else{
                $("#conf_pwd").html("");
                 $("#submit").removeAttr("disabled");
            }
          
    });


        $("#email").on("keypress", function(e) {
            var startpos = e.currentTarget.selectionStart;
            if (e.which == 32 && startpos == 0)
                e.preventDefault();
        });

        jQuery.validator.addMethod("lettersonly", function(value, element) {
            return this.optional(element) || /^[A-Za-z  ]*$/.test(value);
        }, "Please Enter Alphabets Only");
        jQuery.validator.addMethod("capsonly", function(value, element) {
            return this.optional(element) || /^[A-Z]*$/.test(value);
        }, "Please Enter Capital Letters");
        $('#submit').on('click', function() {
            $("#form_register").validate({
                rules: {
                    
                    old_password: {
                        required: true
                    },
                    new_password: {
                    required: true,
                },
                confirm_password: {
                    required: true,
                   // equalTo: "#new_password"
                },
                },
                messages: {
                    
                    old_password: {
                        required: 'Please Enter Current Password'
                    },
                    new_password: {
                    required: 'Please Enter New Password'
                },
               
                },
                 errorPlacement: function(error, element) {
                        
                              error.insertAfter( element.parent("div"));
                       
                    }

            });
            

        });
    });

      $(".toggle-password").click(function() {
$(this).toggleClass("fa-eye fa-eye-slash");
var input = $($(this).attr("toggle"));

if (input.attr("type") == "password") {
  input.attr("type", "text");
} else {
  input.attr("type", "password");
}
});


 $("#old_password").bind("keyup change", function(e) {
            var pass = $(this).val();
            if (pass==''){
                $("#eyepass").hide();
            }
            else
            {
                $("#eyepass").show();
            }
        });

        $("#new_password").bind("keyup change", function(e) {
            var pass = $(this).val();
            if (pass==''){
                $("#eyepass1").hide();
            }
            else
            {
                $("#eyepass1").show();
            }
        });

        $("#confirm_password").bind("keyup change", function(e) {
            var pass = $(this).val();
            if (pass==''){
                $("#eyepass2").hide();
            }
            else
            {
                $("#eyepass2").show();
            }
        });

</script>

</html>