<link rel="stylesheet" href="static/plugins1/bootstrap/css/bootstraps.min.css">

<link rel="stylesheet" href="static/css1/style.css"/>




{% include 'headernew.html' %}
<style>.new_card_box .new_card_features ul li:last-child {
    margin-bottom: 5px;
} </style>
<style>
.new_card_box {  width: 100%; }
.new_card_box .new_card_pricebox {
    float: left;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 0px;
	border-bottom: 1px solid rgba(36, 39, 44, 0.06);
}
.new_card_box .new_card_infobox {
    float: left;
    width: 100%;
    height: 52px;
}
a { color:black}
span { margin-left:20px; }

</style>

<style>
.discount_slider {
    border: none; 
     box-shadow: 0 2px 4px 0 rgba(36, 39, 44, 0.15); 
    margin-bottom: 0px;
     overflow: hidden; 
    width: 228px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.discount_percent_section_price {
    display: inline-block;
    font-size: 26px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    margin-top: 14px;
    margin-bottom: 18px;
	color:#472dc2;
}

.discount_percent_section_prices {
    display: inline-block;
    font-size: 20px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    margin-top: 22px;
    margin-bottom: 10px;
}


.discount_section {
    height: 114px;
	padding: 1px;
    text-align: center;
    background-image: linear-gradient(to bottom, #4EC6DE, #4EC6DE);
}

.discount_percent_sections {
    background: #fff;
    margin: 4px;
    border-radius: 4px;
}


#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 12px;
}

#customers tr:nth-child(even){background-color: #fff;}

#customers tr:hover {background-color: #fff;}

#customers th {
 
  text-align: center;
  font-size: 12px;
  background-color: #fff;
  color: #000;

}
</style>



<!-- Header Close --> 



<!-- Section About End -->
 

<!--  Section Services End -->
<!-- Section Testimonial Start -->



<section class="section">


{% include 'menu.html' %}


        <form class="form-register" id="form_register" action="#" method="post">

 
        <div class="container">



						 	{% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message=="Updated Successfully" %}
                                        <div class="success">

                                            {{message}}


                                        </div>
                                    {% else %}


                                        <div class="error">
                                            {{message}}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}


            <div class="row" style="min-height: 400px;">
                <div class="col-lg-12">

								
								<div class="new_card_infobox">
							
								<div class="new_card_info" style="background-image: linear-gradient(to bottom, #139ee8, #0865cc);">
									<p class="card_title" style="margin-bottom: 0;"> Company Users</p>
										
                                </div>
					    </div>
                    <div class="cta-item  bg-white p-5 rounded">
                        
                            
                        

                       


                        <div class="row" style="overflow-y:scroll;" >




 <table class="zui-table" style="width:100%">
        <thead>
            <tr>
                <th width="6%" style="text-align:center; vertical-align:middle;">S.No</th>
                <th>Name</th>
                <th>Email</th>
                <th width="10%" style="text-align:center; vertical-align:middle;">Emp.Code</th>
            </tr>
        </thead>
        <tbody>

         {% for sample_cmpy_list in sample_cmpy_list %}
            <tr>
                <td style="text-align:center; vertical-align:middle;">{{loop.index}}</td>
                <td>{{sample_cmpy_list.user_name}}</td>
                <td>{{sample_cmpy_list.email}}</td>
                <td style="text-align:center; vertical-align:middle;">
                    {% if sample_cmpy_list.emp_code != 'None' %}
                        -
                    {% else %}
                        {{sample_cmpy_list.emp_code}}
                    {% endif %}
                
                </td>
                
            </tr>
              {% endfor %}
            
        </tbody>
        
    </table>

	
                            


                                
                                  
                                
                        </div>


                      

                    </div>
                </div>
            </div>
        </div>
    </form>
</section>





<!-- Section Testimonial End -->



<style>




.menuclass:hover {
    outline: 0;
    background-image: linear-gradient(to bottom, #139ee8, #0865cc);
		color:#fff;
		 
  transition: 0.25s;
}


::selection {
  background-color: #4EC6DE;
}





@media only screen and (max-width: 990px) {
  
.add_to_cart {
    border-radius: 4px;
    background-color: #472dc2;
    color: #fff;
    border: 1px solid #472dc2;
    margin-bottom: 4px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 4px;
    text-align: center;
    width: 50%;
    height: 40px;
    outline: none;
}



}

@media only screen and (min-width: 990px) {



}






</style>
<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		
		
		{% include 'footer.html' %}

<style>

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.new_card_box .new_card_features{ height:auto !important;border-top: 0px solid  }</style>


  </body>
  </html>