<link rel="stylesheet" href="static/plugins1/bootstrap/css/bootstraps.min.css">
<link rel="stylesheet" href="static/css1/style.css">

{% include 'header.html' %}

<!-- Header Close --> 

<style>
.form-control:placeholder-shown:not(:focus) + * {
    opacity: 1;
    transform: translateY(30px);
    margin-left: 10px;
}


.field {
  display: flex;
  flex-flow: column-reverse;
}

label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}



input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}



input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

</style>

 <!-- Section Cta Start --> 
<section class="section cta">
        <form class="form-register" id="form_register" action="#" method="post">

	<div class="container">
        
		<div class="row" style="height: 380px;">
			<div class="col-lg-7">
				<div class="cta-item  bg-white p-5 rounded">
            {% with messages = get_flashed_messages() %}
								  {% if messages %}
										{% for message in messages %}
											{% if message=="Mail sent to the registered email" %}
												<div class="success">
													
													{{message}}

													
												</div>
											{% else %}
					
					
												<div class="error">
                         {{message}}
													</div>
											{% endif %}
										{% endfor %}
									{% endif %}
					{% endwith %}
                    <h3 style="text-align:center">Forgot Password</h3><br>

                    <div class="row">


<div class="col-lg-6 col-md-6 col-sm-6">
<div class="form-group">
                                         <div class="field">
    <input type="text" name="email" maxlength="64"  id="email" class="form-control" placeholder="&nbsp;">
    <label for="email">Email</label>
     </div>
  </div>

                                    </div>


                      

                      </div>
              
   
                  <button class="btn btn-main " name="submit" type="submit">Submit</button>
                      &nbsp;&nbsp;&nbsp;


                  <a  href="{{url_for('login')}}" style="color:#000">Back To Login ?</a>

					
				</div>
			</div>
		</div>
    </div>
</form><br><br><br><br>
</section>
<!--  Section Cta End-->



<!-- footer Start -->
	<div class="container">
		
		
{% include 'footer.html' %}
	</div>
   
    </div>

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="static/plugins1/jquery/jquery.js"></script>
    <script src="static/js1/contact.js"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="static/plugins1/bootstrap/js/popper.js"></script>
    <script src="static/plugins1/bootstrap/js/bootstrap.min.js"></script>
   <!--  Magnific Popup-->
    <script src="static/plugins1/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Slick Slider -->
    <script src="static/plugins1/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="static/plugins1/counterup/jquery.waypoints.min.js"></script>
    <script src="static/plugins1/counterup/jquery.counterup.min.js"></script>

    <!-- Google Map -->
    <script src="static/plugins1/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="static/js1/script.js"></script>
    <script src="{{url_for('static', filename='js/vali/jquery.validate.js')}}"></script>


  </body>
  <script>
        $(document).ready(function() {
            $("#email").on("keypress",function(e)
            {

                var startpos=e.currentTarget.selectionStart;
                if(e.which ==32 && startpos==0)
                e.preventDefault();
            }
            );

            jQuery.validator.addMethod("lettersonly", function(value, element) {
            return this.optional(element) || /^[A-Za-z  ]*$/.test(value);
            }, "Please Enter Alphabets Only");
            jQuery.validator.addMethod("capsonly", function(value, element) {
            return this.optional(element) || /^[A-Z]*$/.test(value);
            }, "Please Enter Capital Letters");
            $("#form_register").validate({
                rules: {
                    email: { required: true,maxlength:255},
                    
                },
                messages: {
                    email: { required: 'Please Enter Your Email' },
                },
            errorPlacement: function(error, element) {
                    error.insertAfter( element.parent("div"));
                }

            });
        });


</script>
  </html>
   
