<link rel="stylesheet" href="static/plugins1/bootstrap/css/bootstraps.min.css">

<link rel="stylesheet" href="static/css1/style.css"/>

{% include 'headernew.html' %}

{% if payment_made == 'true' %}
<script>
	$(document).ready(function($) {
		$('#myModalInvoice').modal('show');
});
</script>

{% endif %}
<style>.new_card_box .new_card_features ul li:last-child {
    margin-bottom: 5px;
} </style>
<style>
.new_card_box {  width: 100%; }
.new_card_box .new_card_pricebox {
    float: left;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 0px;
	border-bottom: 1px solid rgba(36, 39, 44, 0.06);
}
.new_card_box .new_card_infobox {
    float: left;
    width: 100%;
    height: 52px;
}
a { color:black}
span { margin-left:20px; }

</style>

<style>
.discount_slider {
    border: none; 
     box-shadow: 0 2px 4px 0 rgba(36, 39, 44, 0.15); 
    margin-bottom: 0px;
     overflow: hidden; 
    width: 228px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.discount_percent_section_price {
    display: inline-block;
    font-size: 26px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    margin-top: 14px;
    margin-bottom: 18px;
	color:#472dc2;
}

.discount_percent_section_prices {
    display: inline-block;
    font-size: 20px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    margin-top: 22px;
    margin-bottom: 10px;
}


.discount_section {
    height: 114px;
	padding: 1px;
    text-align: center;
    background-image: linear-gradient(to bottom, #4EC6DE, #4EC6DE);
}

.discount_percent_sections {
    background: #fff;
    margin: 4px;
    border-radius: 4px;
}


#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 12px;
}

#customers tr:nth-child(even){background-color: #fff;}

#customers tr:hover {background-color: #fff;}

#customers th {
 
  text-align: center;
  font-size: 12px;
  background-color: #fff;
  color: #000;

}
</style>



<!-- Header Close --> 



<!-- Section About End -->
 

<!--  Section Services End -->
<!-- Section Testimonial Start -->



<section class="section">


    <form class="form-register" id="form_register" action="#" method="post" novalidate="novalidate">
{% include 'menu.html' %}
        <div class="container">

{% if payment_status_count > 0 %}
          <a href="{{url_for('auto_renewal')}}" class="btn btn-main-green ">Auto Renewal</a>
						 	
{% endif %}

            <div class="row" style="min-height: 700px;">
                <div class="col-lg-12">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category,message in messages %}
                                <div class="{{category}}">
          
                                    {{message}}
          
                                </div>
          
                        {% endfor %}
                    {% endif %}
                {% endwith %}

								
								<div class="new_card_infobox">
							
								<div class="new_card_info" style="background-image: linear-gradient(to bottom, #139ee8, #0865cc);">
									<p class="card_title" style="margin-bottom: 0;"> My Account </p>
										
                                </div>
					    </div>
                    <div class="cta-item  bg-white p-5 rounded">
                        
                            
                     

                        <div class="row">



<div class="tabbed">
    <input type="radio" name="tabs" id="tab-nav-1" checked>
    <label for="tab-nav-1">Product Details</label>
    <input type="radio" name="tabs" id="tab-nav-2">
    <label for="tab-nav-2">User Details</label>
    <input type="radio" name="tabs" id="tab-nav-3">
    <label for="tab-nav-3">Cloud Details</label>
    {% if reg_user_type == "P" %}
      <input type="radio" name="tabs" id="tab-nav-4">
      <label for="tab-nav-4">Next Billing</label>
    {% endif %}

	 
    <div class="tabs">

       <div>


			 
	  	
<div class="container">

            <div class="row">
                <div class="col-lg-7">
                   <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper">
	  			<div class="swiper-slide new_card_box" style=" margin-right: 20px;">
                       <div class="new_card_infobox">
								<div class="new_card_info" style="background-image: linear-gradient(to bottom, #fff, #fff); color:#000">
								<p class="card_title"> Product Details  </p>
                                </div>
					    </div>

                        
							<div class="new_card_features">
								<p><b>Package Purchased</b> : {{pkg_pur_list.0.pkg_name}}</p>
								<p><b>Total Price</b> <span style="margin-left:54px; font-family:sans-serif" >:  {% if pkg_pur_list.0.amount == 0 %} NIL{% else %}{{pkg_pur_list.0.currency_symbol}} {{pkg_pur_list.0.amount}} {% endif %}</span> </p>
								
								<ul>
                  <p><b>Products Purchased</b></p>
                  {% for prod_id in pkg_pur_list.0.prod_id %}
                    {% for product_lists in product_list %}
                      {% if product_lists.product_id==prod_id|int %}
                        <li> {{product_lists.product_name}}</li>
                    
                      {% endif %}
                    {% endfor %}  
                  {% endfor %}
								</ul>
							</div>
                       
				</div>
		
				
		</div>
	</div>
										
                </div>





								<div class="col-lg-3">
                    <div class="swiper-slide new_card_box" style="width: 230px; margin-right: 20px;height:0px">
					<div class="discount_slider">
						<div class="discount_section">
							<div class="discount_percent_sections">
								<div class="discount_percent_section_prices">Purchase Date</div> <br>
								<div class="discount_percent_section_price">{{pkg_pur_list.0.payment_date.strftime('%d-%m-%Y')}}</div>
							</div>
						</div>
					</div> <br><br>
			
				<div class="discount_slider">
					<div class="discount_section">
						<div class="discount_percent_sections">
							<div class="discount_percent_section_prices">Renewal Date</div><br>
							<div class="discount_percent_section_price">{{pkg_pur_list.0.renewal_date.strftime('%d-%m-%Y')}}</div>
						</div>
					</div>
				</div>
                       
			</div>
										
                </div>



            </div>
        </div>




					
</div>

      <div>
	  
	 <div class="container">

            <div class="row">
                <div class="col-lg-7">
                   <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper">
	  			<div class="swiper-slide new_card_box" style=" margin-right: 20px;">
                       <div class="new_card_infobox">
								<div class="new_card_info" style="background-image: linear-gradient(to bottom, #fff, #fff); color:#000">
								<p class="card_title"> User Details </p>
                                </div>
					    </div>


						<table id="customers" style="width: 100%;">
							<tbody>
						   <tr>
								<th>Users</th>
								<th>Count</th>
								<th>Amount</th>
							</tr>
							{% for user_pur_lists in user_pur_list | sort(attribute = 'user_type_id') %}
								<tr>
									<td>{{ user_pur_lists.user_type_name }}</td>
									<td>{{ user_pur_lists.no_of_users }}</td>
									<td style="font-family:sans-serif">{% if user_pur_lists.amount == "0" %} NIL {% else %} {{ user_pur_lists.currency_symbol }} {{ user_pur_lists.amount }} {% endif %}</td>
								</tr>
							{% endfor %}
							{% if user_pur_list.0.billing_frequency == 'M' %}
								<tr>
									<td colspan="2"> Total Amount</td>
									<td style="font-family:sans-serif">{% if usr_total_amount |float == 0.0 %} NIL {% else %}{{ user_pur_list.0.currency_symbol }} {{ usr_total_amount}} {% endif %} </td>	 
								</tr>
							{% else %}
							<tr>
{% if user_prev_billing_frequency == "A" %}

									<td colspan="2"> Total Annualized Amount</td>
                  <td style="font-family:sans-serif">{% if usr_total_amount |float == 0.0 %} NIL {% else %}{{ user_pur_list.0.currency_symbol }} {{ ((usr_total_amount | float) * 12)-((usr_total_amount | float) * 12 * (10/100)) }} {% endif %} </td>
{% else %}
{% set rem_months = no_of_months | float %}
<td colspan="2"> Total Annualized Amount<br>(for remaining {{no_of_months}} months)</td>
                  <td style="font-family:sans-serif">{% if usr_total_amount |float == 0.0 %} NIL {% else %}{{ user_pur_list.0.currency_symbol }} {{ ((usr_total_amount | float) * rem_months)}} {% endif %} </td>
{% endif %}	 

								</tr>
							{% endif %}

							</tbody></table>


                       
				</div>
		
				
		</div>
	</div>
										
                </div>





								<div class="col-lg-3">
                   <div class="swiper-slide new_card_box" style="width: 230px; margin-right: 20px;height:0px">
					<div class="discount_slider">
						<div class="discount_section">
							<div class="discount_percent_sections">
								<div class="discount_percent_section_prices">Purchase Date</div> <br>
								<div class="discount_percent_section_price">{{ user_pur_list.0.payment_date.strftime('%d-%m-%Y') }}</div>
							</div>
						</div>
					</div> <br><br>
			
				<div class="discount_slider">
					<div class="discount_section">
						<div class="discount_percent_sections">
							<div class="discount_percent_section_prices">Renewal Date</div><br>
							<div class="discount_percent_section_price">{{user_pur_list.0.renewal_date.strftime('%d-%m-%Y')}}</div>
						</div>
					</div>
				</div>
                       
			</div>
										
                </div>



            </div>
        </div>



	  
	  </div>




      <div>
	  
	  <div class="container">

            <div class="row">
                <div class="col-lg-7">
                   <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper">
	  			<div class="swiper-slide new_card_box" style="margin-right: 20px;">
                       <div class="new_card_infobox">
								<div class="new_card_info" style="background-image: linear-gradient(to bottom, #fff, #fff); color:#000">
								<p class="card_title"> Cloud Details  </p>
                                </div>
					    </div>

                       
							<div class="new_card_features">
								<p><b>Cloud Package </b> <span style="margin-left:34px"> : {{ cloud_pur_list.0.cl_type_name }} </span></p>
								<p><b>Package Price</b> <span style="margin-left:39px;font-family:sans-serif">: {% if cloud_pur_list.0.amount == 0 %} NIL {% else %}{{pkg_pur_list.0.currency_symbol}} {{ cloud_pur_list.0.amount }} {% endif %}</span> </p>
								
								<ul>
									<p><b>Cloud Features</b></p>
									<li> {{ cloud_pur_list.0.features | safe  }}</li>
									
								</ul>
							</div>
                       
				</div>
		
				
		</div>
	</div>

                </div>





								<div class="col-lg-3">
                  <div class="swiper-slide new_card_box" style="width: 230px; margin-right: 20px;height:0px">
					<div class="discount_slider">
						<div class="discount_section">
							<div class="discount_percent_sections">
								<div class="discount_percent_section_prices">Purchase Date</div> <br>
								<div class="discount_percent_section_price">{{ cloud_pur_list.0.payment_date.strftime('%d-%m-%Y') }}</div>
							</div>
						</div>
					</div> <br><br>
			
				<div class="discount_slider">
					<div class="discount_section">
						<div class="discount_percent_sections">
							<div class="discount_percent_section_prices">Renewal Date</div><br>
							<div class="discount_percent_section_price">{{cloud_pur_list.0.renewal_date.strftime('%d-%m-%Y')}}</div>
						</div>
					</div>
				</div>
                       
			</div>
										
                </div>



            </div>
        </div>

	  </div>
      




<div>
	  
	 <div class="container">

            <div class="row">
                <div class="col-lg-6">
                   <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper">
	  			<div class="swiper-slide new_card_box" style=" margin-right: 20px;">
                       <div class="new_card_infobox">
								<div class="new_card_info" style="background-image: linear-gradient(to bottom, #fff, #fff); color:#000">
								<p class="card_title"> Next Year Billing Details  </p>
                                </div>
					    </div>


						<table id="customers" style="width: 100%;">
							<tbody>
						  
						
								<tr>
									<td colspan="2">Product Price</td>
									
									<td style="font-family:sans-serif">{{ session['currency_symbol'] }} {{ next_pkg_amount }} </td>
								</tr>
                {% if next_billing_frequency == 'A' %}
                  {% set next_user_amount_annual = (((next_user_amount * 12) | float) )-(((next_user_amount * 12)  | float)  * (10/100)) %}
                  <tr>
                    <td colspan="2">Users Price</td>
                    
                    <td style="font-family:sans-serif">{{ session['currency_symbol'] }} {{ next_user_amount_annual }} </td>
                  </tr>
                {% else %}
                  {% set next_user_amount_annual = 0 %}
                {% endif %}
                <tr>
									<td colspan="2">Cloud Price</td>
									
									<td style="font-family:sans-serif">{{ session['currency_symbol'] }}{{ next_cloud_amount }}</td>
								</tr>

                {% set total_amount = next_pkg_amount|float + next_user_amount_annual|float + next_cloud_amount|float %}
              	<tr style="font-weight:bold">
                          <td colspan="2"> Amount </td>
                          
                          <td style="font-family:sans-serif"> {{ session['currency_symbol'] }}{{total_amount}} </td>
                        </tr> 
                        {% set gst_amount = (total_amount ) * (((new_gst_per.strip('%'))|float)/100)  %}
							<tr style="font-weight:bold">
                          <td colspan="2"> GST ({{new_gst_per}}) </td>
                          
                          <td style="font-family:sans-serif">{{session['currency_symbol']}} {{gst_amount |round(2)}} </td>
                        </tr> 


                        	<tr style="font-weight:bold">
                          <td colspan="2">Total Amount To Be Paid</td>
                          
                          <td style="font-family:sans-serif">{{session['currency_symbol']}}  {{((gst_amount) + total_amount)|round(2) }}  </td>
                        </tr> 


						

							</tbody></table>


                       
				</div>
		
				
		</div>
	</div>
										
                </div>



                {% if next_billing_frequency == 'M' %}

                  <div class="col-lg-6">
                    <div class="swiper-container swiper-container-horizontal">
              <div class="swiper-wrapper">
            <div class="swiper-slide new_card_box" style=" margin-right: 20px;">
                        <div class="new_card_infobox">
                  <div class="new_card_info" style="background-image: linear-gradient(to bottom, #fff, #fff); color:#000">
                  <p class="card_title"> Next Month Billing Details  </p>
                                  </div>
                </div>


              <table id="customers" style="width: 100%;">
                <tbody>
                
  <!-- 						
                  <tr>
                    <td colspan="2">Product Price</td>
                    
                    <td style="font-family:sans-serif">{{session['currency_symbol']}} {{next_pkg_amount}} </td>
                  </tr> -->
                
                  {% set next_user_amount_monthly = next_user_amount | float %}
                    <tr>
                      <td colspan="2">Users Price</td>
                      
                      <td style="font-family:sans-serif">{{ session['currency_symbol'] }}{{ next_user_amount_monthly }}</td>
                    </tr>
                  
                  <!-- <tr>
                    <td colspan="2">Cloud Price</td>
                    
                    <td style="font-family:sans-serif">s </td>
                  </tr> -->

                  <!-- <tr style="font-weight:bold">
                            <td colspan="2"> Amount </td>
                            
                            <td style="font-family:sans-serif"> 100 </td>
                          </tr>  -->
                          {% set gst_amount_monthly = ((next_user_amount_monthly ) * (((session['gst'].strip('%'))|float)/100) ) | round(2) %}
                <tr style="font-weight:bold">
                            <td colspan="2"> GST ({{session['gst']}}) </td>
                            
                            <td style="font-family:sans-serif"> {{ session['currency_symbol'] }}{{gst_amount_monthly}} </td>
                          </tr> 


                            <tr style="font-weight:bold">
                            <td colspan="2">Total Amount To Be Paid</td>
                            
                            <td style="font-family:sans-serif"> {{session['currency_symbol']}}  {{((gst_amount_monthly) + next_user_amount_monthly)|round(2) }}  </td>
                          </tr> 


                          

                </tbody></table>


                        
          </div>
      
          
      </div>
    </div>
                      
                  </div>

                {% endif %}

            </div>
        </div>



	  
	  </div>

			
    </div>
  </div>
                            

                        </div>


                      

                    </div>

                        <!--Modal Popup Start-->
                    <div class="container1">
                        <!-- Trigger the modal with a button -->
                        
                      
                        <!-- Modal -->
                      <div class="modal fade" id="myModalInvoice" >
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                          <div class="modal-content" style="width:1200px;margin-left:-341px;">
                          <div class="modal-header">
                            <h4 class="modal-title"> <strong>Invoice</strong> </h4>
              
                            <button type="button" class="btn btn-main pull-right" data-dismiss="modal" style="margin-left: 182px;padding: 2px 4px; font-size: 9px;">X</button>
              
                          </div>
                          <div class="modal-body" style="text-align: center;">
                      
                        <!-- <iframe src="/get_invoice" frameborder="0" width="1000px" height="800px"></iframe> -->
              
                        <iframe src="{{url_for('get_invoice',id=last_pay_his_id,mode=mode)}}" frameborder="0" width="1000px" height="800px"></iframe>
                          </div>
                     
                          
                          </div>
                          
                        </div>
                      </div>
                        
                      </div>
                        <!--Modal Popup End -->
                      


                </div>
            </div>
        </div>
    </form>
</section>





<!-- Section Testimonial End -->



<style>




.menuclass:hover {
    outline: 0;
    background-image: linear-gradient(to bottom, #139ee8, #0865cc);
		color:#fff;
		 
  transition: 0.25s;
}


::selection {
  background-color: #4EC6DE;
}



.tabbed > input {
  display: none;
}

.tabbed > label {
  display: block;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color .3s;
  border: 2px solid #4EC6DE;
  
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  background: #4EC6DE;
  color:#fff;
}

.tabs {
  clear: both;
  perspective: 600px;
}


@media only screen and (max-width: 990px) {
  
.tabs > div {
	height: 559px;
  width: 100%;
  position: absolute;
  border: 2px solid #4EC6DE;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-50deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}

.tabbed {
  width: 700px;
	height:620px;
  margin: 50px auto;
  
}




}

@media only screen and (min-width: 990px) {

.tabs > div {
	height: 318px;
  width: 100%;
  position: absolute;
  border: 2px solid #4EC6DE;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-50deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}


.p-5 {
    padding: 1rem!important;
}


.tabbed {
  width: 850px;
	height:400px;
  margin: 50px auto;
  
}


}



#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4){

	
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
}



</style>
<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		
		
		{% include 'footer.html' %}
<style>

.new_card_box .new_card_features{ height:200px; overflow-y:scroll; border-top: 0px solid  }</style>



  </body>
  </html>