<link rel="stylesheet" href="static/plugins1/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" href="static/css1/style.css">


{% include 'header.html' %}


<style>
    .error {
        color: red;

    }

    .has-error {
        color: red;

    }

    .success {
        color: green
    }


    /* .country_code{
   text-transform:uppercase;
} */
</style>

<body>
    <div class="page-content" >
        <div class="wizard-v3-content">
            <div class="wizard-form">


                <div class="wizard-header">
                    <p>SignUp</p>
                </div>
                <form class="form-register" id="form_register" action="#" method="post">

                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" aria-disabled="false" class="first current" aria-selected="true"><a id="form-total-t-0" href="#" aria-controls="form-total-p-0"><span class="current-info audible"> </span>
                                    <div class="title">
                                        <span class="step-icon"><i class="zmdi zmdi-account"></i></span>
                                        <span class="step-text">SignUp</span>
                                    </div>
                                </a></li>
                            <li role="tab" aria-disabled="false"><a id="form-total-t-1" href="#" aria-controls="form-total-p-1">
                                    <div class="title">
                                        <span class="step-icon"><i class="zmdi zmdi-lock"></i></span>
                                        <span class="step-text" style="margin-left: -11px;">Verification</span>
                                    </div>
                                </a></li>
                            <li role="tab" aria-disabled="false"><a id="form-total-t-2" href="#" aria-controls="form-total-p-2">
                                    <div class="title">
                                        <span class="step-icon"><i class="zmdi zmdi-card"></i></span>
                                        <span class="step-text" style="margin-left: -6px;">Company</span>
                                    </div>
                                </a></li>
                            <li role="tab" aria-disabled="false" class="last"><a id="form-total-t-3" href="#" aria-controls="form-total-p-3">
                                    <div class="title">
                                        <span class="step-icon"><i class="zmdi zmdi-receipt"></i></span>
                                        <span class="step-text" style="margin-left: -3px;">Products</span>
                                    </div>
                                </a></li>
                            <li role="tab" aria-disabled="false" class="last"><a id="form-total-t-3" href="#" aria-controls="form-total-p-3">
                                    <div class="title">
                                        <span class="step-icon"><i class="zmdi zmdi-receipt"></i></span>
                                        <span class="step-text" style="margin-left: 8px;">Billing</span>
                                    </div>
                                </a></li>
                        </ul>
                    </div>



                    <div id="form-total">
                        <!-- SECTION 1 -->
                        <h2>

                        </h2>
                        <section>
                            <div class="inner">
                              {% with messages = get_flashed_messages() %}
											{% if messages %}
												{% for message in messages %}
													{% if message=="Added Successfully" or message=="Updated Successfully"%}
														<div class="success">

																{{message}}


														</div>
													{% else %}
														<div class="error">
																{{message}}
														</div>
													{% endif %}
												{% endfor %}
											{% endif %}
                              {% endwith %}

                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        <label class="form-row-inner">
                                            <input type="email" name="email" id="email" class="form-control" maxlength="255">
                                            <span class="label">Your Email</span>
                                            <span class="border"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        <label class="form-row-inner">
                                            <input type="text" class="form-control" id="first_name" name="first_name" maxlength="64">
                                            <span class="label">First Name</span>
                                            <span class="border"></span>
                                        </label>
                                    </div>
                                    <div class="form-holder form-holder-2">
                                        <label class="form-row-inner">
                                            <input type="text" class="form-control" id="last_name" name="last_name" maxlength="64">
                                            <span class="label">Last Name</span>
                                            <span class="border"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        <label class="form-row-inner">
                                            <input type="password" name="password" id="password" class="form-control">
                                            <span class="label">Password</span>
                                            <span class="border"></span>
                                        </label>
                                    </div>
                                    <div class="form-holder form-holder-2">
                                        <label class="form-row-inner">
                                            <input type="password" name="confirm_password" id="confirm_password" class="form-control">
                                            <span class="label">Confirm Password</span>
                                            <span class="border"></span>
                                        </label>
                                    </div>
                                </div>

<div class="col-lg-12">
                                <div class="form-group">
                                    <input type="checkbox" name="check" id="check" value="1" >
                                    I Accept the <a href="#"><span data-toggle="modal" data-target="#myModal" style="color:#000"> Terms and Conditions</span> </a>
                                </div>

                            </div>


                            </div>
                        </section>

                    </div>
                    <div class="actions clearfix">

                        <ul role="menu" aria-label="Pagination">

                            <a href="{{url_for('signin')}}" class="sub">Already Register?</a>



                            <li class="disabled" aria-disabled="true"></li>


                            <li aria-hidden="false">
                                <input type="submit" class="sub" disabled id="submit" value="Submit" />
                            </li>



                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style>
        .sub {
            padding: 0;
            color: #fff;
            text-decoration: blink;

            border: none;
            border-radius: 3px;
            -o-border-radius: 3px;
            -ms-border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            display: inline-flex;
            height: 45px;
            width: 140px;
            justify-content: center;
            -o-justify-content: center;
            -ms-justify-content: center;
            -moz-justify-content: center;
            -webkit-justify-content: center;
            -o-align-items: center;
            -ms-align-items: center;
            -moz-align-items: center;
            -webkit-align-items: center;
            align-items: center;
            background: #24c1e8;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
        }

        .label {
            transform: translateY(-23px) scale(1);
            -o-transform: translateY(-23px) scale(1);
            -ms-transform: translateY(-23px) scale(1);
            -moz-transform: translateY(-23px) scale(1);
            -webkit-transform: translateY(-23px) scale(1);
            color: #24c1e8;
        }
    </style>

    {% include 'footer.html' %}

</body>


<div class="container">
    <!-- Trigger the modal with a button -->
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Terms and Conditions</h4>
          </div>
          <div class="modal-body">
            <p>Terms and Conditions content here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-main" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>

    <script>

$(function () {
        $("#check").click(function () {
            if ($(this).is(":checked")) {
                $("#submit").removeAttr("disabled");
                $("#txtPassportNumber").focus();
            } else {
                $("#submit").attr("disabled", "disabled");
            }
        });
    });

        $(document).ready(function() {
            $("#email").on("keypress", function(e) {

                var startpos = e.currentTarget.selectionStart;
                if (e.which == 32 && startpos == 0)
                    e.preventDefault();
            });

            $("#first_name").on("keypress", function(e) {

                var startpos = e.currentTarget.selectionStart;
                if (e.which == 32 && startpos == 0)
                    e.preventDefault();
            });
            $("#last_name").on("keypress", function(e) {

                var startpos = e.currentTarget.selectionStart;
                if (e.which == 32 && startpos == 0)
                    e.preventDefault();
            });
            jQuery.validator.addMethod("lettersonly", function(value, element) {
                return this.optional(element) || /^[A-Za-z  ]*$/.test(value);
            }, "Please Enter Alphabets Only");
            jQuery.validator.addMethod("capsonly", function(value, element) {
                return this.optional(element) || /^[A-Z]*$/.test(value);
            }, "Please Enter Capital Letters");
            $("#form_register").validate({
                rules: {
                    email: {
                        required: true,
                        maxlength: 255
                    },
                    first_name: {
                        required: true,
                        maxlength: 64,
                        lettersonly: true
                    },
                    last_name: {
                        required: true,
                        maxlength: 64,
                        lettersonly: true
                    },
                    password: {
                        required: true
                    },
                    confirm_password: {
                        equalTo: "#password"
                    },
                },
                messages: {
                    email: {
                        required: 'Please Enter Your Email'
                    },
                    first_name: {
                        required: 'Please Enter First Name'
                    },
                    last_name: {
                        required: 'Please Enter Last Name'
                    },
                    password: {
                        required: 'Please Enter Password'
                    },
                    confirm_password: 'Enter Confirm Password Same as Password',
                },
                errorPlacement: function(error, element) {
                    if (element.hasClass('select2')) {
                        error.insertAfter(element.next('.select2'));
                    } else {
                        error.insertAfter(element);
                    }
                }

            });
        });
    </script>





</html>
